<!doctype html>
<html>
<head>
    <title>CCTL - Skeleton</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Survey</h1>
        <a href="/" class="btn btn-warning btn-lg"><span class="fa fa-home"> Home</a>
        <a href="/results" class="btn btn-warning btn-lg"><span class="fa fa-bar-chart-o"> Results</a>
        <a href="/profile" class="btn btn-warning btn-lg"><span class="fa fa-user"> Profile</a>
        <a href="/logout" class="btn btn-warning btn-lg"><span class="fa fa-sign-out"> Logout</a>
    </div>
    
    <table class="table">
        <tbody>
        <tr>
            <td>
            <div class="well">
                <% if(conceptpair) { %>
                    <h3 align="center"> <%= conceptpair.c1 + " vs " + conceptpair.c2 %></h3>
                    <p align="center">
                        <a href="/response/:<%=conceptpair.c1%>" class="btn btn-default btn-sm"><%= conceptpair.c1 %></a>
                        <a href="/response/:<%=conceptpair.c2%>" class="btn btn-default btn-sm"><%= conceptpair.c2 %></a>
                    </p>
                 <% } else {%>
                    <h3 align="center"> No more concepts to answer. </h3>
                <% } %>
            </div>
            </td>
        </tr>
        <tbody
    </table>
   

</div>
</body>
</html>